/* .dashboardLayout {
  display: flex;
  flex-direction: row;
}

.mainContent {
  margin-left: 250px;
  padding: 20px;
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  background-color: #f4f4f4;
} */

.dashboardLayout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: var(--sidebar-width);
  background-color: #fff;
  box-shadow: 2px 0 12px rgba(0,0,0,0.1);
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
    display: block;
  }

  .mainContent {
    margin-left: 0;
  }
}